#container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 900px;
    height: 330px;
    border-radius: 15px;
    background: rgba(3, 3, 3, 0.3);
    box-shadow: 1px 1px 50px #000;
}

body {
    background: linear-gradient(-45deg, #e38618, #3c6ce7, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

h4{
    font-family: 'Open Sans Condensed', sans-serif;
    position: relative;
    margin-top: 0px;
    text-align: center;
    font-size: 30px;
    color: #ddd;
    text-shadow: 3px 3px 10px #000;
  }

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.control
{
    top: 40px;
    left: 340px;
}
